<div class="container">
    <div class="col-sm-4 col-md-3">
        <form novalidate ng-submit="menus.create()" class="well">
            <p class="h2"><i class="glyphicon glyphicon-plus-sign"></i> Add a menu</p>
            <formly-form model="menus.model" fields="menus.fields" form="menus.form">
            </formly-form>
            <button class="btn btn-block" type="submit">Submit</button>
        </form>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="menu in menus.items">
                <div class="well menu">
                    <h2>{{menu.instance.title}}</h2>
                    <a ui-sref="admin.menu({id: menu.instance.id})" class="btn btn-success" role="link"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                    <button role="button" type="button" class="btn btn-danger" ng-click="menus.destroy({id: menu.instance.id, title: menu.instance.title})"><i class="glyphicon glyphicon-remove-circle"></i> Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>