<div class="container-fluid">
    <div class="fixed-col">
        <a ui-sref="admin.menus" class="btn btn-lg btn-primary btn-block btn-back-menus"><i class="glyphicon glyphicon-arrow-left"></i> Back to menus list</a>
        <h2 class="text-center h1">Meals</h2>
        <ul class="list-unstyled sortable meals-container"
            ui-sortable="menu.sortableOptions"
            ng-model="menu.availableMeals">

            <li class="meals" ng-repeat="meal in menu.availableMeals">
                <div style="background-size:cover; background-image:url({{meal.instance.picture[0].file}});" class="img-responsive img-circle picture"></div>
                {{ meal.instance.title }}
            </li>
        </ul>
    </div>
    <div class="row">

        <div class="col-sm-8 col-sm-offset-4">
            <menu-templates selected="menu.templateID"></menu-templates>
            <form ng-submit="menu.update()" novalidate>
                <div class="form-group">
                    <label for="menu-title">Menu title</label>
                    <input id="menu-title" class="form-control" type="text" class="h1" ng-model="menu.title" value="{{menu.title}}"/>
                </div>
                <div class="menu-container sortable-container" ui-sortable="menu.sortableContainerOptions" ng-model="menu.parts.model">
                    <div ng-repeat="part in menu.parts.model">
                        <button type="button" class="btn btn-sm btn-danger pull-right" ng-click="menu.deletePart($index)"><i class="glyphicon glyphicon-remove-circle"></i></button>

                        <div class="form-group">
                            <label for="part-title">Part title</label>
                            <input id="part-title" class="form-control" type="text" class="h2" ng-model="menu.parts.model[$index].title" value="{{menu.parts.model[$index].title}}"/>
                        </div>
                        <ul class="list-unstyled sortable meals-list"
                            ui-sortable="menu.sortableOptions"
                            ng-model="menu.parts.model[$index].meals">
                            <li class="meals" ng-repeat="meal in menu.parts.model[$index].meals">
                                <div style="background-size:cover; background-image:url({{meal.instance.picture[0].file}});" class="img-responsive img-circle picture"></div>
                                {{ meal.instance.title }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="well">
                    <button type="button" class="btn btn-md btn-success" ng-click="menu.addPart()"><i class="glyphicon glyphicon-plus-sign"></i></button>
                     Add a part to your menu
                </div>
                <textarea ng-show="showEmbedCode" class="form-control" rows="3" ng-model="menu.embedCode"></textarea>

                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-success" type="button" ng-click="showEmbedCode = !showEmbedCode">Embed</button>
                <a ui-sref="menu({id: menu.id})" class="btn btn-success">See menu</a>

            </form>
        </div>
    </div>
</div>