.meals-container, .menu-container {
  background-color: whitesmoke;
  padding: 2em;
}

.meals {
  background-color: white;
  padding: 1em;
  margin-bottom: 1px;
  line-height: 30px;
  height: 50px;
  .picture {
    @include square(30px);
    float: left;
    margin-right: 15px;
  }
  &:hover {
    cursor: move;
  }
}

.fixed-col {
  position: fixed;
  width: 350px;
  height: 100%;
  background-color: whitesmoke;
  top: 50px;
  left: 0;
  .btn-back-menus {
    border-radius: 0;
  }
}
