<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home">
                <img alt="Carte et Menu" src="../assets/images/bootstrap.png" height="30">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li ng-class="{ active: header.isActive('/')}"><a ui-sref="home">Home <span class="sr-only">(current)</span></a></li>
            <li ng-show="!currentUser.id" ng-class="{ active: header.isActive('/authentication')}"><a ui-sref="authentication">Authenticate</a></li>
            <li ng-show="currentUser.id" ng-class="{ active: header.isActive('/meals')}"><a ui-sref="meals">Meals</a></li>
            <li ng-show="currentUser.id" ng-class="{ active: header.isActive('/menus')}"><a ui-sref="menus">Menus</a></li>
            <li ng-show="currentUser.id" ng-class="{ active: header.isActive('/profile')}"><a ui-sref="profile">Profile</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-show="currentUser.id">
            <li>
                <img ng-if="!currentUser.profileImg" src="http://placebear.com/g/40/40" alt="{{currentUser.name}}" class="img-circle img-responsive pull-left"/>
                <img ng-if="currentUser.profileImg" src="{{currentUser.profileImg}}" alt="{{currentUser.name}}" class="img-circle"/>
                Welcome {{currentUser.name}}
                <button type="button" class="btn btn-sm btn-primary" ng-click="header.logout()">Logout</button></li>
        </ul>
    </div>
</nav>