<div class="container">
    <div class="row">

        <div class="jumbotron text-center">
            <h1><i class="glyphicon glyphicon-th-list"></i> Carte et menu</h1>
            <p>Créez vos menus et intégrez-les facilement à votre site</p>
        </div>
    <!--<p class="lead">-->
      <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>-->
      <!--Always a pleasure scaffolding your apps.-->
    <!--</p>-->
    <!--<p class="animated infinite">-->
      <!--<button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>-->
    <!--</p>-->
    <!--<p>-->
      <!--With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']" />-->
    <!--</p>-->
    </div>
</div>
