<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <p class="h2"><i class="glyphicon glyphicon-plus-sign"></i> Add a meal</p>
                <form ng-submit="meals.create()" novalidate>
                    <formly-form model="meals.models.formly" fields="meals.fields" form="meals.form">
                    </formly-form>
                    <div class="form-group">
                        <label>Choose a picture</label>
                        <div class="well">

                            <div class="drop-box" ngf-drop ng-model="meals.models.picture"
                                 ngf-drag-over-class="dragover" ngf-multiple="false"
                                 ngf-pattern="'image/*'">Drop image file here</div>
                            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                            <p class="text-center">or</p>
                            <div class="btn btn-sm btn-primary btn-block" ngf-select ng-model="meals.models.picture" accept="image/*" ngf-max-size="1MB">
                                Select Files
                            </div>
                        </div>
                        <!-- show a preview -->
                        <div class="well" ng-show="meals.models.picture">
                            <img class="img-responsive" ngf-src="meals.models.picture">
                            <button type="button" ng-click="meals.resetPictureModel()" class="glyphicon glyphicon-remove"></button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-disabled="meals.form.$invalid">
                        Submit
                    </button>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <h2>Your collection of meals</h2>

            <div class="page-header"  ng-repeat="meal in meals.items">
                <div class="meal-nav pull-right">
                    <button type="button" ng-click="meals.openModal(meal.instance)" class="btn btn-md btn-success"><i class="glyphicon glyphicon-edit"></i></button>
                    <button type="button" ng-click="meals.destroy({id: meal.instance.id, title: meal.instance.title})" class="btn btn-md btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></button>
                </div>
                <div class="meal-elements">
                    <a class="pull-left" href="{{meal.instance.picture[0].file}}" rel="lightbox">
                        <div class="meal-thumbnail img-responsive img-circle" style="background-size:cover; background-image:url({{meal.instance.picture[0].file}});"></div>
                    </a>
                    <div class="meal-texts">
                        <h2 class="h3">{{meal.instance.title}}</h2>
                        <p>{{meal.instance.desc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>